@import "../common/fonts.css";
@import "../common/colors.css";

:host>* {
	width: 100%;
	height: 100%;

	background: conic-gradient(from -90deg at 250% 100%, var(--color-plain) 0deg, var(--color-airship) 10deg, var(--color-farewell) 16deg, var(--color-reflection) 27deg, var(--color-blackfeather) 55deg, var(--color-starfall) 290deg, var(--color-garden) 330deg, var(--color-plain) 360deg);
}

:host>*>h1 {
	position: absolute;
	left: 1em;
	bottom: 0;

	color: var(--color-fence);
	font-family: Tangerine;
	font-weight: bold;
	font-size: 3em;
}
