:root,
:host {
	--color-petals: #d15e85;
	--color-clouds: #d9eaf9;
	--color-seas: #47a5d7;
	--color-coast: #3f73e780;
	--color-bookmark: #e1bde480;
	--color-cherry: #e1bde4;

	--storyworld-background-color: black;
	--storyworld-color: var(--color-clouds);
	--storyworld-color-accent-1: var(--color-coast);
	--storyworld-color-accent-1: var(--color-petals);
}
