:root, :host {
	--storyworld-font-title: Tomorrow;
	--storyworld-font-body: "EB Garamond";
}

/* Latin and latin-ext pages for EB Garamond regular/italic, regular/bold, as well as KaTeX pages. Includes Tomorrow regular regular from Google Fonts API.*/
/* Mostly acquired via Google Fonts (e.g. https://fonts.googleapis.com/css?family=EB+Garamond) or the npm katex (e.g. https://cdn.jsdelivr.net/npm/katex@0.10.2/dist/KaTeX_Main-Regular.woff2). */

/* latin-ext */
@font-face {
	font-family: "EB Garamond";
	font-style: italic;
	font-weight: 400;
	src: url(fonts/eb-garamond-italic-variable-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "EB Garamond";
	font-style: italic;
	font-weight: 400;
	src: url(fonts/eb-garamond-italic-variable-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "EB Garamond";
	font-style: italic;
	font-weight: 700;
	src: url(fonts/eb-garamond-italic-variable-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "EB Garamond";
	font-style: italic;
	font-weight: 700;
	src: url(fonts/eb-garamond-italic-variable-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "EB Garamond";
	font-style: normal;
	font-weight: 400;
	src: url(fonts/eb-garamond-normal-variable-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "EB Garamond";
	font-style: normal;
	font-weight: 400;
	src: url(fonts/eb-garamond-normal-variable-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
	font-family: "EB Garamond";
	font-style: normal;
	font-weight: 700;
	src: url(fonts/eb-garamond-normal-variable-latin-ext.woff2) format("woff2");
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "EB Garamond";
	font-style: normal;
	font-weight: 700;
	src: url(fonts/eb-garamond-normal-variable-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}
/* latin */
@font-face {
	font-family: Tomorrow;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/tomorrow-normal-bold-latin.woff2) format("woff2");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
		U+FEFF, U+FFFD;
}

/* All KaTeX fonts are located in fonts/. */
@font-face {
	font-family: KaTeX_AMS;
	src: url(fonts/KaTeX_AMS-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Caligraphic;
	src: url(fonts/KaTeX_Caligraphic-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Caligraphic;
	src: url(fonts/KaTeX_Caligraphic-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Fraktur;
	src: url(fonts/KaTeX_Fraktur-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Fraktur;
	src: url(fonts/KaTeX_Fraktur-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Main;
	src: url(fonts/KaTeX_Main-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Main;
	src: url(fonts/KaTeX_Main-BoldItalic.woff2) format("woff2");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: KaTeX_Main;
	src: url(fonts/KaTeX_Main-Italic.woff2) format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: KaTeX_Main;
	src: url(fonts/KaTeX_Main-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Math;
	src: url(fonts/KaTeX_Math-Italic.woff2) format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: KaTeX_Size1;
	src: url(fonts/KaTeX_Size1-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Size2;
	src: url(fonts/KaTeX_Size2-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Size3;
	src: url(fonts/KaTeX_Size3-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Size4;
	src: url(fonts/KaTeX_Size4-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Math;
	src: url(fonts/KaTeX_Math-BoldItalic.woff2) format("woff2");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: KaTeX_SansSerif;
	src: url(fonts/KaTeX_SansSerif-Bold.woff2) format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_SansSerif;
	src: url(fonts/KaTeX_SansSerif-Italic.woff2) format("woff2");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: KaTeX_SansSerif;
	src: url(fonts/KaTeX_SansSerif-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Script;
	src: url(fonts/KaTeX_Script-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: KaTeX_Typewriter;
	src: url(fonts/KaTeX_Typewriter-Regular.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}
