emilia-tan.com
Development/Development/Auxiliary
Development/Development/Dynamic
Development/Staging
Development/Production
Development/Production-Remote
Staging/Auxiliary
Staging/Code
Staging/Dynamic
Production

*.vs
*.confidential*
*.log
*.exe