<!DOCTYPE html>
<html lang="en-US">
	<head></head>
	<body>
		<template>
			<link rel="stylesheet" href="component/erlija.css" />
			<article>
				<section name="credits">
					<p>
						inspired by
						<a
							href="https://soundcloud.com/rig-l/la-flesvelka-rewind-of-memories-demo-ver"
							><em>grad erlija -retrospektiva-</em></a
						>,
						<a href="https://www.pixiv.net/en/artworks/74171992"
							><em>lost scape</em></a
						>, and
						<a href="https://www.youtube.com/watch?v=Sdu3OX-0fHQ"
							><em>the sixth station</em></a
						>
					</p>
					<p>~@gilgamesh.cc</p>
				</section>
				<eutopia-sunflower></eutopia-sunflower>
				<section name="lore">
					<p>
						“They had come from all over Alveria: fisherman stinking of the
						southern islands and the high officials from up north with their
						spoiled families alike. What really made the World’s Exposition of
						320 special were the guests from beyond: the calculated, reserved
						albinos of the Sovereignty, and the Felysians foreign in both dress,
						tongue, and skin. For twenty-eight days and nights, the streets of
						port city Erlija overflowed with food and fights and festivities for
						all. Never before had I witnessed a young man in tailor-made
						Sovereign-wool strike across the chess table at a brutish farmhand
						girl towering no less than three heads above him. I suppose Sovs
						could be hot-headed too.
					</p>
					<p>
						“Look around now. See how far Alveria’s shining jewel has fallen
						since then. When the fair ended, and all the guests returned to
						their former lives, it was as if their memories of each other had
						evaporated into nothing but a forsaken phantasmagoria. What was no
						more than the color of the Sovereignty’s unrelenting snowfall
						returned once again to a symbol of individualism and privilege; what
						had been simply foreign and strange once again was painted in a coat
						of threatening exoticism. By the time the inevitable war erupted,
						Erlija had already fallen into a state of disrepair. The crown
						prince of Alveria, who had worked tirelessly against corruption and
						negligence to return this country and its pride to their former
						glory, found himself at odds with his father and his advisors; as
						thanks, they sent him far, far away, across the eastern seas, to the
						frontlines in Felys.
					</p>
					<p>
						“Go north. Last I heard, Cy and his revolutionaries had set sail
						toward the Sovereignty, to request their assistance in the war
						against Felys. It is unlikely for them to sway the Sovereign’s ego
						without your assistance. In Erlija—in Alveria—there is nothing more
						left for you, save for the golden memories of a sunset long past.”
					</p>
					<p name="quote-from">
						—<em>Unnamed Receptionist</em> at the
						<em>Garden of the Sunset Maiden</em>, to <em>Aria</em><br />
						(Outer) Erlijan Plains, Alveria, Year 358
					</p>
				</section>
			</article>
		</template>
	</body>
</html>
