@import "../common/color.css";

:host {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	height: calc(100% - 4em);
	width: calc(100% - 6em);
	max-width: 70ch;
	padding: 2em max(3em, 50% - 35ch);
	overflow-y: scroll;

	color: var(--color-clouds);
	font-family: "EB Garamond", Georgia, serif;
	font-size: 1.2em;
	text-align: center;

	--mask-image-value: linear-gradient(
			to bottom,
			transparent 0,
			black 2em,
			black calc(100% - 2em),
			transparent 100%
		),
		linear-gradient(
			to right,
			black 0,
			black 3em,
			transparent 3em,
			transparent calc(100% - 3em),
			black calc(100% - 3em),
			black 100%
		);
	-webkit-mask-image: var(--mask-image-value);
	mask-image: var(--mask-image-value);
}

eutopia-sunflower {
	margin: 1em auto;
}

a {
	color: var(--color-airships);
}
