<!DOCTYPE html>
<html lang="en-US">
	<head></head>
	<body>
		<template>
			<link rel="stylesheet" href="component/erlija.css" />
			<p>
				inspired by
				<a href="https://www.pixiv.net/en/artworks/18270712"
					><em>Grad Erlija</em></a
				>
				and
				<a href="https://www.pixiv.net/en/artworks/74171992"
					><em>lost scape</em></a
				>
			</p>
			<p>
				across summer skies a swan flew northbound,<br />
				each flutter of its wings echoing like gold.<br />
				our tracks had converged at the sixth station,<br />
				but the last train to erlija had left with you.
			</p>
			<eutopia-sunflower></eutopia-sunflower>
			<p>~@gilgamesh.cc</p>
		</template>
	</body>
</html>
