<!DOCTYPE html>
<html lang="en-US">
	<head></head>
	<body>
		<template>
			<link rel="stylesheet" href="component/erlija.css" />
			<p>
				inspired by
				<a href="https://www.pixiv.net/en/artworks/18270712"
					><em>grad erlija</em></a
				>
				and
				<a href="https://www.pixiv.net/en/artworks/74171992"
					><em>lost scape</em></a
				>
			</p>
			<p>
				across summer skies a swan flew northbound,<br />
				her feathers crowned gold by sunsets foregone.<br />
				our tracks first converged in erlija’s sixth station;<br />
				our paths welded together into amber-like stagnation.<br />
				the first snow fell on november 15th.<br />
				the last train left with you.
			</p>
			<eutopia-sunflower></eutopia-sunflower>
			<p>~@gilgamesh.cc</p>
		</template>
	</body>
</html>
