@import "../common/essay.css";

:host {
	/* Override of essay.css variables. */

	/* Override of light/dark-dependent variables. */
	--background-color: transparent;

	/* Curried from styles defined in essay.css. */
	width: calc(100% - 2em);
	height: calc(100% - 4em);
	padding: 2em max(1em, 50% - 35ch);
	overflow-y: scroll;

	--mask-image-value: linear-gradient(
			to bottom,
			transparent 0,
			black 2em,
			black calc(100% - 2em),
			transparent 100%
		),
		linear-gradient(
			to right,
			black 0,
			black 1em,
			transparent 1em,
			transparent calc(100% - 1em),
			black calc(100% - 1em),
			black 100%
		);
	-webkit-mask-image: var(--mask-image-value);
	mask-image: var(--mask-image-value);
}

article {
	padding: 1em 2em;

	background-color: #00000010;
	box-shadow: inset 0 0 0.4em #00000030;
}

/* Print options for this ShadowRoot. */
@media print {
	:host {
		background-color: white;

		height: auto;
	}

	eutopia-sunflower {
		display: none;
	}
}
