@import "../common/color.css";

:host {
	display: flex;
	flex-flow: column nowrap;
	font-family: Tangerine;
	font-weight: bold;
	margin: 0.5em 0 0.5em auto;
	padding: 1em;

	background-color: #00000010;
	box-shadow: inset 0 0 0.4em #00000030;
	color: var(--color-bushes);
	text-align: right;
	font-size: 1.2em;
	cursor: pointer;
	transition: color 1s, background-color 1s;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:host(:hover) {
	background-color: #00000020;
}

:host > * {
	margin: 0;
}

:host > span {
	font-size: 1.6em;
}
