:host {
	display: block;
	margin: 0 auto;
	padding: 1em;
	width: 3rem;
	height: 3rem;

	cursor: pointer;
	opacity: 0.4;
	transition: opacity 1s;
	z-index: 1;
	user-select: none;
}

:host(:hover) {
	opacity: 1;
}

img {
	position: relative;
	width: 100%;
	height: 100%;
}
