:root {
	--panel-cols: 2;
	--color-1: #ffdddd;
	--color-2: #ffebdd;
	--color-3: #fffddd;
	--color-4: #ddffdd;
	--color-5: #ddfffa;
	--color-6: #dde2ff;
	--color-7: #e9ddff;
	--color-8: #ffddf1;
	--color-9: #cfcfcf;
	--color-1-sat: #FFB3B3;
	--color-4-sat: #B3FFB3;
	--color-7-sat: #CEB3FF;
}

.color-1 {
	background-color: var(--color-1);
}

.color-2 {
	background-color: var(--color-2);
}

.color-3 {
	background-color: var(--color-3);
}

.color-4 {
	background-color: var(--color-4);
}

.color-5 {
	background-color: var(--color-5);
}

.color-6 {
	background-color: var(--color-6);
}

.color-7 {
	background-color: var(--color-7);
}

.color-8 {
	background-color: var(--color-8);
}

.color-9 {
	background-color: var(--color-9);
}

.color-1-sat {
	background-color: var(--color-1-sat);
}

.color-4-sat {
	background-color: var(--color-4-sat);
}

.color-7-sat {
	background-color: var(--color-7-sat);
}

@media (max-width: 700px) {
	:root {
		--panel-cols: 1;
	}
}

p {
	word-wrap: break-word;
}

a {
	color: black;
}

code {
	word-wrap: break-word;
	display: inline-block;
	max-width: 100%;
	white-space: pre-wrap;

	font-family: 'Fira Mono', monospace;
	font-size: 80%;

	background-color: #eef;
	border: 1px solid #d5d5e9;
	border-radius: 3px;
	color: black;
	font-weight: 300;

	padding: 1px 5px;
}

pre>code {
	padding: 8px 12px;
	width: calc(100% - 16px);
}

blockquote {
	border-left: 4px solid darkgray;
	padding-left: 20px;
	font-style: italic;
	margin: 30px 0;
}

.noselect {
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
									supported by Chrome and Opera */
}

.nofocus {
	outline-style: none;
	box-shadow: none;
	border-color: transparent;
}

.noscrollbar {
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}

.noscrollbar::-webkit-scrollbar {
	display: none;
}

::-webkit-scrollbar {
	width: 10px;

	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #00000052;
}

::-webkit-scrollbar-thumb:hover {
	background: #0000009d;
}

.panel {
	padding: 4%;

	width: calc(100% / var(--panel-cols) - 8%);
}

.image {
	overflow: hidden;

	width: 300px;

	min-width: 20%;
	max-width: 100%;

	display: block;
}

.image>img {
	border-radius: 5px;

	max-width: 100%;
}

.left {
	float: left;

	margin-right: 15px;
	margin-bottom: 15px;
}

.right {
	float: right;

	margin-left: 15px;
	margin-bottom: 15px;

	text-align: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;

	text-align: center;
}

.square-wrapper {
	display: inline-block;
	position: relative;
}

.square-wrapper:after {
	padding-top: 100%;

	display: block;

	content: '';
}

.square-pic {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	/*stretches image into the parent div which it should fit*/
	width: 100%;
}

.list-selector {
	top: 0;
	left: 0;
	bottom: 0;
	right: calc(100% - 140px);
	position: absolute;

	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	background-color: white;

	display: flex;
	flex-flow: column nowrap;
}

.list-selector-panel {
	width: calc(100% - 20px);
	min-height: 150px;
	height: 100%;

	padding: 1px 10px;

	display: flex;
	flex-flow: column nowrap;
}

.list-selector-panel:hover:not(.list-selector-panel-selected) {
	cursor: pointer;
	filter: brightness(107%);
}

.list-selector-panel>div {
	margin: auto;
	margin-left: 0;
}

.list-selector-panel>.list-selector-panel-index {
	margin: auto;
	font-weight: bold;
	display: none;
}

.list-selector-panel>.list-page {
	display: none;
}

.list-selector-panel-title {
	width: 100%;
}

.list-viewer {
	top: 0;
	left: 140px;
	bottom: 0;
	right: 0;

	overflow-x: auto;
	overflow-y: scroll;
	position: absolute;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: thin;
	margin: 0;
	padding: 0;
	padding-left: 20px;
	padding-right: 20px;

	line-height: 1.75;
}

.list-viewer>.list-page {
	display: block;
}

@media (max-width: 700px) {
	.list-viewer {
		left: 40px;
	}

	.list-selector {
		right: calc(100% - 40px);
	}

	.list-selector-panel {
		min-height: 40px;
		padding: 0;
		width: 100%;
	}

	.list-selector-panel>.list-selector-panel-title {
		display: none;
	}

	.list-selector-panel>.list-selector-panel-index {
		display: block;
	}
}

form {
	background-color: inherit;
}

input {
	height: 50px;
	border-radius: 5px;
	border: 2px solid black;

	padding: 10px;

	font-family: inherit;
	font-size: inherit;

	background-color: inherit;
}

input.nofocus {
	border: 2px solid black;
}

input[type=text] {
	background-color: white;
}

input[type=email] {
	background-color: white;
}

input[type=submit]:hover {
	cursor: pointer;
	filter: brightness(90%);
}

textarea {
	border-radius: 5px;
	padding: 10px;
	border: 2px solid black;

	font-family: inherit;
	font-size: inherit;
}

button[type=button] {
	height: 50px;
	border-radius: 5px;
	padding: 10px;
	border: 2px solid black;

	font-family: inherit;
	font-size: inherit;

	background-color: inherit;
}

button[type=button].nofocus {
	border: 2px solid black;
}

button[type=button]:hover {
	cursor: pointer;
	filter: brightness(90%);
}

.full-width {
	width: 100%;
}

.width-30 {
	width: 30%;
}
