:root {
	--social-panel-cols: 1;
}

#home-main-inner {
	width: 100%;
	height: 100%;

	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: thin;

	display: flex;
	flex-flow: row wrap;

	line-height: 1.75;
}

#home-intro-pic-wrapper {
	width: 50%;

	margin-right: 30px;
}

#home-social {
	padding: 0;
	width: calc(100% / var(--panel-cols));

	display: flex;
	flex-flow: row wrap;
}

.social-panel {
	display: flex;
	padding: 2.5%;
	width: calc(100% / var(--social-panel-cols) - 5%);
	
	text-align: center;
	font-size: 18px;

	cursor: pointer;
}
.social-panel-inner {
	width: 64px;

	margin: auto;
}
.social-panel:hover > .social-panel-inner {
	transform: scale(1.2, 1.2);
}

#home-mlist > form {
	width: 100%;

	display: flex;
	flex-flow: row wrap;
}
#home-mlist > form > input[type=email] {
	width: 100%;
	margin-bottom: 15px;
}
#home-mlist > form > input[name=add] {
	width: calc(50% - 7px);
	margin-right: 15px;
	margin-bottom: 15px;
}
#home-mlist > form > input[name=remove] {
	width: calc(50% - 8px);
	margin-bottom: 15px;
}

#home-email > form {
	width: 100%;

	display: flex;
	flex-flow: row wrap;
}
#home-email-from-name {
	width: 30%;
	margin-right: 15px;
	margin-bottom: 15px;
}
#home-email-from {
	width: calc(70% - 15px);
	margin-bottom: 15px;
}
#home-email-to-name {
	width: 30%;
	margin-right: 15px;
	margin-bottom: 15px;
}
#home-email-to {
	width: calc(70% - 15px);
	margin-bottom: 15px;
}
#home-email-subject {
	width: 60%;
	margin-bottom: 15px;
	margin-right: 15px;
}
#home-email-data {
	width: 100%;
	height: 150px;

	resize: none;

	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	
	border-color: black !important;
}
#home-email > form > input[type=submit] {
	width: calc(40% - 15px);
	margin-bottom: 15px;
}

#home-projects-random {
	cursor: pointer;
}

#home-live {
	width: 92%;
}

#home-live > img {
	width: 75%;
	margin-left: 12.5%;
}
