<!DOCTYPE html>
<html lang="en-US">
	<head></head>
	<body>
		<template>
			<link rel="stylesheet" href="component/erlija.css" />
			<article>
				<section name="credits">
					<p>
						inspired by
						<a
							href="https://soundcloud.com/rig-l/la-flesvelka-rewind-of-memories-demo-ver"
							><em>grad erlija -retrospektiva-</em></a
						>,
						<a href="https://www.pixiv.net/en/artworks/74171992"
							><em>lost scape</em></a
						>, and
						<a href="https://www.youtube.com/watch?v=Sdu3OX-0fHQ"
							><em>the sixth station</em></a
						>
					</p>
					<p>~@gilgamesh.cc</p>
				</section>
				<eutopia-sunflower></eutopia-sunflower>
				<section name="lore">
					<p>
						Our tracks first converged here in Erlija,<br />
						a garden of lost memories:<br />
						one wonder, two identities, and a third<br />
						re-invention<br />
						of the same names, spoken twice-fold:<br />
						twisting, then flowing;<br />
						flowing, then twisting.
					</p>
					<p>
						The world’s fair five decades past had boiled us all into soup,<br />
						flesh and bones and feathers and scales<br />
						until night became day<br />
						and day became night,<br />
						and into cans we went,<br />
						one question, two answers, and a third<br />
						missive<br />
						waning gold from the sunset up north: calling all<br />
						nuts and bolts and brains<br />
						and all that.
					</p>
				</section>
			</article>
		</template>
	</body>
</html>
