@import "../common/color.css";

:host {
	display: block;
	height: calc(100% - 4em);
	width: calc(100% - 4em);
	max-width: 80ch;
	padding: 2em max(2em, 50% - 40ch);
	overflow-y: scroll;

	color: var(--color-clouds);
	font-family: "EB Garamond", Georgia, serif;
	font-size: 1.2em;

	--mask-image-value: linear-gradient(
			to bottom,
			transparent 0,
			black 2em,
			black calc(100% - 2em),
			transparent 100%
		),
		linear-gradient(
			to right,
			black 0,
			black 2em,
			transparent 2em,
			transparent calc(100% - 2em),
			black calc(100% - 2em),
			black 100%
		);
	-webkit-mask-image: var(--mask-image-value);
	mask-image: var(--mask-image-value);
}

eutopia-sunflower {
	margin: 1em auto;
}

a {
	color: var(--color-airships);
}

section[name="credits"] {
	text-align: center;
}

section[name="lore"] {
	text-align: left;
}
