<!DOCTYPE html>
<html lang="en-US">
	<head></head>
	<body>
		<template>
			<link rel="stylesheet" href="component/map.css" />
			<eutopia-sunflower></eutopia-sunflower>
			<div>
				<eutopia-marker name="2017-01-09">
					<span slot="title">to friends, family, and mentors</span>
					<span slot="date">jan. 9, 2017</span>
				</eutopia-marker>
				<eutopia-marker name="2018-03-04">
					<span slot="title">to friends, family, and mentors</span>
					<span slot="date">mar. 4, 2018</span>
				</eutopia-marker>
				<eutopia-marker name="mit-confessions-simulator">
					<span slot="title">
						predictive text rnns and n-grams for mit confessions
					</span>
					<span slot="date">jun. 29, 2018</span>
				</eutopia-marker>
				<eutopia-marker name="emilia">
					<span slot="title">a brief history of emilia</span>
					<span slot="date">dec. 25, 2018</span>
				</eutopia-marker>
				<eutopia-marker name="2019-03-25">
					<span slot="title">a deluge of experiences</span>
					<span slot="date">mar. 25, 2019</span>
				</eutopia-marker>
				<eutopia-marker name="urop-guide">
					<span slot="title">urop.guide</span>
					<span slot="date">jul. 17, 2019</span>
				</eutopia-marker>
				<eutopia-marker name="2019-10-15">
					<span slot="title">purpose</span>
					<span slot="date">oct. 15, 2019</span>
				</eutopia-marker>
				<eutopia-marker name="see-it-wasnt-always-like-this">
					<span slot="title">see, it wasn’t always like this</span>
					<span slot="date">nov. 29, 2021</span>
				</eutopia-marker>
				<eutopia-marker name="cp-square-frames">
					<span slot="title">homochromatic square frames</span>
					<span slot="date">dec. 3, 2021</span>
				</eutopia-marker>
			</div>
		</template>
	</body>
</html>
