<!DOCTYPE html>
<html lang="en-US">
	<head></head>
	<body>
		<template>
			<link rel="stylesheet" href="arx.css" />
			<article>
				<section>
					<p>
						inspired by
						<a href="https://soundcloud.com/delic_ious/why-are-you-crying"
							>why are you crying?</a
						>,
						<a href="https://www.pixiv.net/en/artworks/59876160"
							>くるしいほどのあいを</a
						>,
						<a href="https://www.youtube.com/watch?v=3Soht3ISW-E"
							>can we kiss forever?</a
						>,
						<a href="https://www.pixiv.net/en/artworks/56917277">奏ちゃん</a>,
						and
						<a href="https://www.youtube.com/watch?v=GZOwbvevgJY"
							>my sweet dreams</a
						>
					</p>
				</section>
				<emilia-storyworld-portal
					storyworld="erlija-past"
				></emilia-storyworld-portal>
				<section><p>~@gilgamesh.cc</p></section>
			</article>
			<emilia-neon></emilia-neon>
		</template>
	</body>
</html>
