@import "../colors.css";
@import "../scrollbar.css";

:host {
	display: block;
	position: absolute;
	overflow: hidden;
	left: 50%;
	bottom: 0;
	width: 50%;
	height: 50%;
}

div[name="bookmark"] {
	position: absolute;
	left: calc(100% - 10em);
	top: -2em;
	width: calc(1.5 * max(100vh, 30vw) + 4em);
	height: 0;
	border: 0.8em solid var(--color-bookmark);
	transform-origin: top left;
	transform: rotate(45deg);
}

div[name="snapshot"] {
	width: 100%;
	height: 100%;
	overflow: overlay;
	display: flex;
	flex-flow: row nowrap;
}

emilia-neon {
	flex: 0 0 auto;
	width: 4em;
	height: calc(100% - 4em);
	margin: 2em 0;
	--direction: 270deg;

	cursor: pointer;
}

article {
	flex: 0 0 auto;
	display: block;
	position: relative;
	padding: 0 2em;
	max-width: calc(4em + 80ch);
}
