@import "../colors.css";
@import "../scrollbar.css";

:host {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 50%;
}

emilia-neon {
	width: 5em;
	height: 4em;
	--direction: 0;

	position: absolute;
	top: 0;
	left: calc(50% - 2.5em);
}

div[name="lighthouses"] {
	/* Contents extend beneath scrollbar. */
	overflow: overlay;
	justify-content: end;
	height: calc(100% - 8em);
	width: calc(100% - 2em);
	max-width: calc(80ch + 5em);
	margin-left: auto;
	padding: 6em 0 2em;

	/* Fade-out overflow. Also (unintentionally) fades out the scrollbar. */
	--mask-image-value: linear-gradient(
			to bottom,
			transparent 0,
			transparent 6em,
			black 8em,
			black calc(100% - 2em),
			transparent 100%
		),
		linear-gradient(
			to right,
			transparent 0,
			transparent calc(100% - var(--scrollbar-width)),
			black calc(100% - var(--scrollbar-width)),
			black 100%
		);
	-webkit-mask-image: var(--mask-image-value);
	mask-image: var(--mask-image-value);
}

div[name="absorber"] {
	width: 100%;
	height: 6em;
	position: absolute;
	top: 0;
	right: 0;
}
