:host {
	opacity: 30%;
	position: absolute;
	/* TODO: Why does em not work for animations on mobile? */
	right: 100%;
	top: var(--travel-begin-top);
	animation: travel var(--time-travel) linear 1;
}

@keyframes travel {
	100% {
		/* TODO: Related to above. */
		right: calc(100% - var(--travel-end-left));
		top: 100%;
	}
}

img {
	width: 3em;
	height: 3em;
	animation: spin var(--time-spin) linear infinite;
}

@keyframes spin {
	100% {
		transform: rotate(calc(360deg * var(--spin-direction)));
	}
}
