@import "../colors.css";

:host {
	--size: 0.4em;

	display: inline-block;
	position: relative;

	background: linear-gradient(
		var(--direction),
		var(--color-petals) 0,
		var(--color-petals) var(--size),
		transparent var(--size),
		transparent 100%
	);
	transition: background 1s;
	cursor: pointer;
}

div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s;

	background: linear-gradient(
		var(--direction),
		var(--color-petals) 0,
		var(--color-petals) var(--size),
		var(--color-cherry) var(--size),
		transparent 100%
	);
}

:host([active]) > div,
:host(:hover) > div {
	opacity: 1;
}
