@import "../colors.css";
@import "../snapshot.css";

/* Force dark theme. */
@import "../snapshot.force.dark.css";

:host {
	/* TODO: this is a hotfix. */
	--scrollbar-width: calc(0.8em / 1.2);

	--foreground-color: var(--color-clouds);
	--background-color: transparent;
	--pre-background-color: var(--blockquote-background-color);

	padding-right: max(2em, 100% - 80ch);
	padding-left: 2em;
}
