@import "../colors.css";

:host {
	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 200%;
	height: 200%;

	color: var(--color-clouds);
	background: conic-gradient(
		from 0deg at 75% calc(100% + 50vw),
		transparent 270deg,
		var(--color-seas) 294deg,
		var(--color-coast) 300deg,
		transparent 324deg
	);
	transition: top 1s, left 1s;
}

:host([location="coast"]) {
	left: 0;
	top: -100%;
}

:host([location="blackfeather"]) {
	left: -100%;
	top: -100%;
}
