<!DOCTYPE html>
<html lang="en-US">
	<head></head>
	<body>
		<template>
			<link rel="stylesheet" href="erlija.css" />
			<article>
				<section>
					<p>
						inspired by
						<a
							href="https://soundcloud.com/rig-l/la-flesvelka-rewind-of-memories-demo-ver"
							><em>grad erlija -retrospektiva-</em></a
						>,
						<a href="https://www.pixiv.net/en/artworks/74171992"
							><em>lost scape</em></a
						>, and
						<a href="https://www.youtube.com/watch?v=Sdu3OX-0fHQ"
							><em>the sixth station</em></a
						>
					</p>
				</section>
				<section name="portals">
					<emilia-sunflower></emilia-sunflower>
					<emilia-storyworld-portal
						storyworld="reflections-on-blackfeather"
					></emilia-storyworld-portal>
				</section>
				<section>
					<p>~@gilgamesh.cc</p>
				</section>
			</article>
		</template>
	</body>
</html>
