@import "../colors.css";

:host {
	display: flex;
	height: calc(100% - 4em);
	width: calc(100% - 4em);
	max-width: 80ch;
	padding: 2em max(2em, 50% - 40ch);

	font-size: 1.8em;
	color: var(--color-clouds);
	text-align: center;
	font-family: Tangerine;
	font-weight: normal;
	text-shadow: 0.1em 0.1em 0.1em #00000090;
	line-height: 1.6;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: opacity 1s;
}

h2 {
	display: none;

	margin: auto;
}

h2[visible] {
	display: initial;
}
