<!DOCTYPE html>
<html lang="en-US">
	<head></head>
	<body>
		<template>
			<link rel="stylesheet" href="splash.css" />
			<h2>
				The first snow fell on November 15th.<br />
				The last train left with you.
			</h2>
			<h2>
				Those were the golden days<br />
				that never should have happened,<br />
				and will never happen again.
			</h2>
			<h2>
				Rain gushes forth from bygone summer nights:<br />
				an eagle, a swan, a lyre, and a missive<br />
				from a winter beyond the horizon…
			</h2>
			<h2>
				Amidst the street corner’s flickering lights,<br />
				I heard my destiny,<br />
				splattered across the page in royal, red acryllic.
			</h2>
			<h2>
				The final station is but across a clearwater repose,<br />
				whose shoe-deep reflection springs forth<br />
				from a forgotten sunset…
			</h2>
			<h2>
				Our tracks first converged here in Erlija,<br />
				of plains and airships, gleaming<br />
				the gold of a lost memory.
			</h2>
			<h2>
				One wonder, two identities, and a third<br />
				re-invention<br />
				of the same names…
			</h2>
			<h2>
				…of the same names, spoken twice-fold:<br />
				twisting, then flowing<br />
				flowing, then twisting.
			</h2>
			<h2>
				…one question, two answers, and a third<br />
				missive<br />
				waning gold from the sunset up north…
			</h2>
			<h2>
				…from the sunset up north: calling all<br />
				nuts and bolts and brains<br />
				and all that.
			</h2>
			<h2>
				The world’s fair had boiled us all into soup<br />
				flesh and feathers and fins alike,<br />
				and into cans we went…
			</h2>
		</template>
	</body>
</html>
