@import "../colors.css";

:host {
	--progress: 0;

	position: absolute;
	overflow: hidden;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	z-index: -1;
}

div {
	position: relative;
	left: 0;
	top: -800%;
	width: calc(100% + 500vh);
	height: 2400%;

	background: conic-gradient(
		from 0deg at 0% 50%,
		black 0deg,
		var(--color-starfall) 36deg,
		var(--color-past) 48deg,
		var(--color-tears) 60deg,
		var(--color-airships) 72deg,
		var(--color-plains) 84deg,
		var(--color-plains) 90deg,
		black 360deg
	);
	transition: top 1s, left 1s;
}

:host([scene="map"]) > div,
:host([scene="snapshot"]) > div {
	left: -200vh;
	top: calc(-1000% - var(--progress) * 150%);
}
