:root {
	--social-panel-cols: 1;
}

#home-main-inner {
	width: 100%;
	height: 100%;

	overflow-x: hidden;
	overflow-y: scroll;

	display: flex;
	flex-flow: row wrap;
}

#home-title {
	background-color: #312450;
}

#home-intro {
	background-color: #5e42a6;

	line-height: 1.75;
}

#home-intro-pic-wrapper {
	width: 60%;
}

#home-mailing-list {
	background-color: #5052b5;

	line-height: 1.75;
}

#home-social {
	background-color: #b74e91;

	padding: 0;
	width: calc(100% / var(--panel-cols));

	display: flex;
	flex-flow: row wrap;
}

.social-panel {
	display: flex;
	padding: 2.5%;
	width: calc(100% / var(--social-panel-cols) - 5%);
	
	text-align: center;
	font-size: 18px;

	cursor: pointer;
}

.social-panel:hover {
	background-color: #ba75a1;
}

.social-panel-inner {
	width: 32px;

	margin: auto;
}