html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
    color: white;

    position: relative;
    margin: 1%;

    overflow: hidden;
}

.bubble {
    position: absolute;
    margin: 0px;

    background-color: #300856;

    overflow: hidden;

    text-align: center;
}