:root,
:host {
	--color-starfall: #29232d;
	--color-past: #8670a1;
	--color-tears: #b7b9df;
	--color-airships: #fdc382;
	--color-plains: #fde992;

	--color-clouds: #fffada;
	--color-bushes: #311701;
	--color-ribbon: #b54c2e;

	--storyworld-background-color: var(--color-clouds);
	--storyworld-color: var(--color-starfall);
}
