@import "fonts.css";
@import "pre-load.css";
@import "print.css";
@import "scrollbar.css";

:root,
:host {
	--scrollbar-width: 0.8em;
	--scrollbar-rgb: 0, 0, 0;
	--transition-time: 0.5s;
}

body > :not(emilia-sunset) {
	opacity: 0;
	transition: opacity 0.5s;
}

body[active] > :not(emilia-sunset) {
	opacity: 1;
}
