/* Printing options on snapshots cannot be set in a ShadowRoot. */
@media print {
	@page {
		margin: 1in;
	}

	:root,
	:host,
	body {
		width: auto;
		max-width: none;
		margin: 0;
		padding: 0;

		font-size: 12pt;
	}
}
