:root,
:host {
	--scrollbar-width: 0.8em;
	--scrollbar-rgb: 255, 255, 255;
}

::-webkit-scrollbar,
:host::-webkit-scrollbar {
	width: var(--scrollbar-width);
	height: var(--scrollbar-width);
}

::-webkit-scrollbar-track,
:host::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb,
:host::-webkit-scrollbar-thumb {
	background: rgba(var(--scrollbar-rgb), 0.125);
}

::-webkit-scrollbar-thumb:hover,
:host::-webkit-scrollbar-thumb:hover {
	background: rgba(var(--scrollbar-rgb), 0.25);
}
