body {
	font-family: 'Raleway', sans-serif;
	font-size: 19px;
}

.table {
	margin: 10px;

	word-wrap: break-word;
}

.title {
	padding: 5px;

	font-size: 150%;
}

.row {
	width: 100%;

	display: flex;
	flex-flow: row nowrap;
}

.cell {
	border: 1px solid black;
	margin-top: -1px;
	margin-left: -1px;

	width: 0px;
	flex: 1 0 0;
	padding: 5px;
}

.cell-set {
}

.cell-set-elem {
	padding: 5px;

	border: 1px solid black;
	margin-top: -1px;
	margin-left: -1px;

	cursor: pointer;
}

.formula {
	background-color: rgb(241, 241, 241);
}

.cell-set-elem-focus {
	background-color: rgb(194, 200, 255);
}