@import "../styles/colors.css";

:host {
	display: flex;
	flex-flow: row nowrap;

	overflow-x: hidden;
	cursor: pointer;
	opacity: 0;
	background-color: hsl(var(--hsla-pane-1));
	transition: opacity var(--transition-time),
		background-color var(--transition-time);
	border-radius: 0.5rem;
	box-shadow: 0 0 0.5rem 0.5rem hsl(var(--hsla-pane-shadow));
	user-select: none;
}

:host(.loaded) {
	opacity: 1;
}

:host > div[name="wrapper"] {
	display: flex;
	flex-flow: column nowrap;
}

:host(:hover) {
	background-color: hsl(var(--hsla-pane-2));
}

:host > div[name="wrapper"] {
	flex: 0 1 auto;
	display: flex;
	flex-flow: column nowrap;
	padding: 1.5rem 1.2rem;
}

:host > div[name="wrapper"] > h1,
:host > div[name="wrapper"] > h2 {
	margin: 0;
}

:host > div[name="wrapper"] > h1 {
	font-family: Tangerine;
	font-weight: normal;
	font-size: 2.4em;
}

:host > div[name="wrapper"] > h2 {
	font-family: "EB Garamond";
	font-weight: normal;
	font-size: 1.2em;
}

:host > div[name="highlighter"] {
	flex: 0 0 0.3rem;
	/* This is needed, for some reason, so that the host can correctly calculate the width of this element and subsequently set margin-right: auto. */
	min-width: 0.3rem;

	background-color: hsl(var(--hsl-base-5));
}
