:host {
	display: flex;
	flex-flow: column nowrap;
	
	opacity: 0;
	transition: opacity var(--transition-time);
}

:host(.loaded) {
	opacity: 1;
}

:host > emilia-snapshot-menu-item {
	margin-right: auto;
	margin-bottom: 1.5rem;
}

:host > emilia-snapshot-menu-item:last-child {
	margin-bottom: 0;
}
