:root,
:host {
	--color-fence: #6F4B29;
	--color-plain: #fde992bd;
	--color-airship: #fdc382c7;
	--color-farewell: #b7b9dfe8;
	--color-reflection: #8670a1f2;
	--color-blackfeather: #29232dcc;
	--color-starfall: #1C2C10;
	--color-garden: #C7D142;
}
